<p>about works!</p>
<doc-noticia [titulo]="'Noticia 1'" [autor]="'Pepe Pérez'">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, saepe eum, quos recusandae fuga distinctio eos repellendus voluptas similique laborum temporibus veniam id quo dicta nisi dolor dolorum magnam doloribus?</p>
    <p>Excepturi temporibus consectetur hic animi ullam, distinctio necessitatibus et in quae exercitationem maxime sunt, dolorum debitis eius expedita veniam fugit nostrum? Ipsam nulla consequuntur magni dolorum incidunt iusto magnam cum.</p>
    <p>Magnam debitis consectetur soluta voluptatum nisi provident nam unde omnis cum? Amet magni id possimus quod deserunt laboriosam odio ullam recusandae voluptatum dolores voluptate, ex assumenda, iure sapiente! Optio, dolore.</p>
    <p>Cumque, fugit ea. Dolor cupiditate quod cum, facilis pariatur maxime quos incidunt! Nobis, delectus. Laudantium alias cumque, minima obcaecati ut optio, dolor totam explicabo pariatur vero rerum dolorum vel quos?</p>
</doc-noticia>

<doc-noticia [titulo]="'Noticia 2'" [autor]="'Luis Pérez'">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eius aliquid, atque aut et ullam molestias nam reprehenderit totam ipsum saepe quo consequatur eaque aspernatur unde assumenda, blanditiis distinctio velit?</p>
    <p>Recusandae assumenda nobis dolorem et animi! Ex qui modi cumque excepturi quasi quod, quaerat exercitationem minus! Doloribus repudiandae veritatis omnis itaque, dolorem quis, nesciunt, facilis delectus tenetur veniam non similique.</p>
    <p>Quae fugit magni soluta totam recusandae, accusamus molestias, reprehenderit rem voluptatem sequi ratione itaque repudiandae nobis provident, porro earum similique mollitia saepe nihil blanditiis. Ipsam assumenda quidem voluptatem consequatur repudiandae?</p>
</doc-noticia>
