<h2 [docDestacar]="'Importante'">saludo-rx works!</h2>
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre"
    [title]="msg"
    placeholder="Escribe tu nombre" [formControl]="nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" id="apellido"
    [title]="" 
    placeholder="Escribe tu apellido" [formControl]="apellido">
  </div>

  <button type="button" (click)="onClickBorrar($event)"
      class="btn btn-primary btn-lg btn-block">
      Borrar 
  </button> 
  <div>
      <p>Hola {{ nombre.value }}  {{apellido.value | truncar : 12 }} </p>
  </div>
